@use 'base/variables' as v;
@use 'base/mixins' as m;

.pareja{
    background-color: v.$marronSuave;
    padding: 10rem 0;
    

    &__grid{
        @include m.grid(1, 1rem);
        @include m.desktop{
            @include m.grid(2, 5rem);
            @include m.contenedor-medio;
            align-items: center;
        }
    }

    &__contenedor-imagen{

    }

    &__imagen{
        width: 100%;
    }

    &__contenedor-textos{

    }

    &__titulo{
        color: v.$beige;
        font-weight: v.$bold;
        font-size: 3rem;
        text-align: center;
        margin: 3rem 0;
        @include m.desktop{
            font-size: 4rem;
        }

    }

    &__descripcion,
    li{
        font-weight: v.$delgada;
        font-size: 2rem;
        color: v.$blanco;
        line-height: 2.5rem;
        margin-top: 1rem;
    }

    ul{
        margin-top: -1rem;
    }

    &__contenedor-boton{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }

    &__boton{
        @include m.boton(v.$blanco, v.$beige);
        text-shadow: .1rem .1rem .1rem v.$negro;
    }
}